    @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

    html {
        font-size: 16px;
    }

    canvas {
        max-width: 100%;
        margin: 5px auto;
        display: block;
    }
    
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin: 0.5 1rem;
        max-width: 900px;
        text-align: center;
        color: #f7f3e9;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    img.inline-img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 1.5rem auto;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }

    main.container {
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
        padding: 2.5rem 2rem 4rem;
        background: rgba(13, 27, 42, 0.9);
        border-radius: 15px;
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
        box-sizing: border-box;
    }

    .caption {
        font-size: 0.9em;
        text-align: center;
        color: #bbb;
        margin-top: -1rem;
        margin-bottom: 1.5rem;
    }

    body {
        margin: 0;
        line-height: 1.7;
        font-family: 'Merriweather', serif;
        max-width: 900px;
        margin: auto;
        background: #0d1b2a;
        color: #d9d4c9;
        min-height: 100vh;
    }

    #language-switcher {
        position: absolute;
        top: 1rem;
        right: 1.2rem;
        font-size: 1rem;
        z-index: 3;
    }

    #language-switcher a {
        color: #f7f3e9;
        text-decoration: none;
        margin: 0 0.25rem;
    }

    #language-switcher a:hover {
        text-decoration: underline;
    }

    h1,
    h2 {
        color: #f7f3e9;
    }

    h2 img {
        height: 1.7em;
        vertical-align: middle;
        margin-left: 0.5em;
    }

    p,
    li {
        line-height: 1.6;
        word-wrap: break-word;
        word-break: break-all;
        overflow-wrap: break-word;
    }

    ol {
        margin-left: 20px;
    }

    footer {
        margin-top: 2.5rem;
        font-size: 0.9em;
        color: #d9d4c9;
        text-align: center;
        border-top: 1px solid #d9d4c9;
        padding: 1.5rem 0 2.5rem;
    }

    footer a {
        display: block;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        color: #f7f3e9;
        text-decoration: none;
        transition: color 0.3s ease;
        font-size: 1.5em;
    }

    footer a:hover {
        color: #b9a46c;
        text-decoration: underline;
    }


    .lang-btns {
        text-align: center;
        margin-bottom: 20px;
    }

    button.lang-btn {
        margin: 0 10px;
        padding: 10px 20px;
        cursor: pointer;
        border: 2px solid #f7f3e9;
        background: transparent;
        color: #f7f3e9;
        font-weight: 700;
        font-size: 1rem;
        border-radius: 30px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    button.lang-btn:hover {
        background-color: #f7f3e9;
        color: #0d1b2a;
    }

    button.lang-btn.active {
        background-color: #f7f3e9;
        color: #0d1b2a;
    }

    .lang-section.active {
        display: block;
    }

    a {
        color: #f7f3e9;
    }

    a:hover {
        color: #d9d4c9;
    }

    @media (max-width: 600px) {
        body {
            max-width: 100%;
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
        }

        /* Header */
        header {
            padding-top: 1rem;
            padding-bottom: 1rem;
            height: auto;
        }

        header h1 {
            padding-top: 1rem;
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        header h2 {
            font-size: 1.1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        #language-switcher {
            top: 0.8rem;
            right: 0.8rem;
            font-size: 0.9rem;
        }


        button.lang-btn {
            margin: 5px 5px;
            padding: 8px 12px;
            font-size: 0.9rem;
        }

        footer {
            font-size: 0.85em;
            padding-top: 0.8rem;
            margin-top: 2rem;
        }

        footer a {
            display: block;
            margin-top: 1.5rem;
        }

        .inline-img {
            width: 100%;
            height: auto;
        }
    }